html {
    background: #b9b6b1;
    background-image: url(https://s3.postimg.org/s1n3ji1ur/paper_fibers_2_X.png);
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.title {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
.u-clearfix:before,
.u-clearfix:after {
    content: " ";
    display: table;
}
  
.u-clearfix:after {
    clear: both;
}
  
.u-clearfix {
    *zoom: 1;
}
  
.subtle {
    color: #aaa;
}
  
.card-container {
    margin: 25px auto 0;
    position: relative;
    width: 700px;
}
  
.card {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    position: relative;
    box-shadow: 0 0 5px rgba(75, 75, 75, .07);
    z-index: 1;
}
  
.card-body {
    display: inline-block;
    float: left;
    width: 320px;
}
  
.card-number {
    margin-top: 15px;
}
  
.card-circle {
    border: 1px solid rgb(87, 81, 81);
    border-radius: 50%;
    display: inline-block;
    line-height: 22px;
    font-size: 12px;
    font-weight: bolder;
    height: 25px;
    text-align: center;
    width: 25px;
}
  
.card-author {
    display: block;
    font-size: 14px;
    font-weight: bolder;
    letter-spacing: .5px;
    margin: 15px 0 0;
    text-transform: uppercase;
}
  
.card-title {
    font-size: 20px;
    font-weight: bolder;
    margin: 10px 0;
}
  
.card-description {
    display: inline-block;
    font-weight: 500;
    line-height: 18px;
    margin: 10px 0;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.card-btn {
    display: block;
    background: #686662;
    border: none;
    color: white;
    position: absolute;
    bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 28;
    font-weight: bolder;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    transition: 150ms;
    text-decoration: none;
    width: 45%;
    border-radius: 4px;
}

.card-btn-lent {
    display: block;
    background: #b9b6b1;
    border: none;
    color: white;
    position: absolute;
    bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 28;
    font-weight: bolder;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    transition: 150ms;
    text-decoration: none;
    width: 45%;
    border-radius: 4px;
}

.card-btn:hover, .card-btn-lent:hover {
    background: #e7b557;
    cursor: pointer;
}

card-btn:hover {
    background: rgb(148, 141, 141);
    letter-spacing: 0.2em;
}

.card-lentto {
    background: red;
}

.card-media {
    float: right;
    max-width: 300px;
}
  
.card-shadow {
    background-color: #fff;
    box-shadow: 0 2px 25px 2px rgba(0, 0, 0, 1), 0 2px 50px 2px rgba(0, 0, 0, 1), 0 0 100px 3px rgba(0, 0, 0, .25);
    height: 1px;
    margin: -1px auto 0;
    width: 80%;
    z-index: -1;
}